body{
    background-color: lightblue;
}

#banner{
    font-size: 100px;
   border-style: solid;
   margin: 20px;
   background-color: navy;
   color: white;
   text-align: center;
   margin-left: 0px;
   margin-right: 0px;
   border-color: black;
   border-left-color: navy;
   border-right-color: navy;
}

.hometablelink{
    color: darkgray;
    background-color: white;
}

#hometable{
    margin: 0px;
    background-color: black;
    border-width: 1px;
}

/* Start of Dropdown */

/* Dropdown Button */
.hoverhere{
    background-color: white;
    color: black;
    border: none;
    color: darkgrey;
    font-size: 16px;
    font-weight: bolder;
}

#arrow{
    font-size: 14px;
}
  
/* The container <div> - needed to position the dropdown content */
.biodropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    color: darkgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.content a {
    color: darkgray;
    padding: 10px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.biodropdown:hover .content {display: block;}

/* End of Dropdown */

#nar{
    margin-top: 0px;
    font-size: 50px;
    margin-bottom: 0px;
}

#web{
    margin-left: 50px;
    font-size: larger;
    margin-right: auto;
}

#bdev{
    margin-left: 475px;
    transform: translateY(-40px);
    font-size: larger;
}

#fdev{
    margin-left: 900px;
    transform: translateY(-80px);
    font-size: larger;
}

#tech{
    margin-left: 50px;
    transform: translateY(190px);
    font-size: larger;
}

#content{
    margin-left: 500px;
    transform: translateY(150px);
    font-size: larger;
}

#chrispic{
    margin-left: 850px;
    transform: translateY(150px);
}

#architpic{
    margin-left: 900px;
    transform: translateY(-420px);
}

#nandinipic{
    margin-left: 50px;
    transform: translateY(0px);
}