body{
    background-color: lightblue;
}

#banner{
    font-size: 100px;
   border-style: solid;
   margin: 20px;
   background-color: navy;
   color: white;
   text-align: center;
   margin-left: 0px;
   margin-right: 0px;
   border-color: black;
   border-left-color: navy;
   border-right-color: navy;
}

.hometablelink{
    color: darkgray;
    background-color: white;
}

#hometable{
    margin: 0px;
    background-color: black;
    border-width: 1px;
}

#nar{
    margin-top: 0px;
    font-size: 50px;
    margin-bottom: 0px;
}

#web{
    margin-left: 50px;
    font-size: larger;
    margin-right: auto;
}

#bdev{
    margin-left: 500px;
    transform: translateY(-38px);
    font-size: larger;
}