body{
    background-color: lightblue;
}

/* Start of Dropdown */

/* Dropdown Button */
.hoverhere{
    background-color: white;
    color: black;
    border: none;
    color: darkgrey;
    font-size: 16px;
    font-weight: bolder;
}

#arrow{
    font-size: 14px;
}
  
/* The container <div> - needed to position the dropdown content */
.biodropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    color: darkgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.content a {
    color: darkgray;
    padding: 10px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.biodropdown:hover .content {display: block;}

/* End of Dropdown */

#banner{
    font-size: 100px;
   border-style: solid;
   margin: 20px;
   background-color: navy;
   color: white;
   text-align: center;
   margin-left: 0px;
   margin-right: 0px;
   border-color: black;
   border-left-color: navy;
   border-right-color: navy;
}

.hometablelink{
    color: darkgray;
    background-color: white;
}

#hometable{
    margin: 0px;
    background-color: black;
    border-width: 1px;
}

.monopoly{
    margin-right: 400px;
    margin-bottom: 0px;
}

#monpic{
    float: right;
    transform: translateY(-350px);
    margin-left: auto;
}

.turtlecode{
    margin-top: 0px;
    transform: translateY(-175px);
    margin-bottom: 0px;
}

.timeline{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 400px;
    transform: translateY(-175px);
}